[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "==1.8.1"
sqlalchemy = "==1.4.44"
sqlalchemy-utils = "==0.38.3"
psycopg2-binary = "==2.9.5"
fastapi-users-db-sqlalchemy= "<5.0.0"
fastapi = { version = "==0.88.0", extras = ["all"] }
fastapi-users = { version = "==10.2.1", extras = ["sqlalchemy"] }
cryptography = "==38.0.4"
jwcrypto = "==1.4.2"
pydantic = "==1.10.2"
requests = "*"
asyncpg = "==0.27.0"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.9"

[pipenv]
allow_prereleases = true
